doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js')
    script(src='javascripts/app.js')
    body
    block content
