doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/third-party/Detector.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js')
    script(type='text/javascript', src='javascripts/third-party/Tween.js')
    script(type='text/javascript', src='javascripts/globe.js')
    script(type='text/javascript', src='javascripts/app.js')
    body
    block content
