doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/third-party/ThreeWebGL.js')
    script(type='text/javascript', src='javascripts/third-party/ThreeExtras.js')
    script(type='text/javascript', src='javascripts/third-party/RequestAnimationFrame.js')
    script(type='text/javascript', src='javascripts/third-party/Detector.js')
    script(type='text/javascript', src='javascripts/third-party/Tween.js')
    script(type='text/javascript', src='javascripts/coast.js')
    script(type='text/javascript', src='javascripts/country.js')
    script(type='text/javascript', src='javascripts/world.js')
    script(type='text/javascript', src='javascripts/globe.js')
    script(type='text/javascript', src='javascripts/app.js')
    body
    block content
